$color-surface1: #FFFFFF;
$color-default: #293244;
$color-title: #3A353E;
$color-muted: #374151;
$color-muted-background: #A0A9B8;
$color-muted-text: #44537180;
$color-surface5: #D0D4DC;
$color-surface3: #F6F6F8;
$color-disabled: #445371;
$color-disbled-button: #4453711A;
$color-disabled-btn: #445371;
$color-blue-100: #45A5F6;
$color-blue-110: #007EE5;
$color-blue-80: #8FC9FA;
$color-blue-060: #C7E4FC;
$color-blue-050: #DAEDFD;
$color-red-110: #E12828;
$color-red-050: #FADEE0;
$color-violet-110: #6447CF;

@font-face {
    font-family: 'Circe Rounded';
    src: url('../public/fonts/CirceRounded-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Circe Rounded Bold';
    src: url('../public/fonts/CirceRounded-Bold.otf') format('opentype')
}